<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nightmare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NightMare">
        <activity
            android:name=".xiomi10Activity"
            android:exported="true" />
        <activity
            android:name=".samsungs9Activity"
            android:exported="true" />
        <activity
            android:name=".samsungnote10Activity"
            android:exported="true" />
        <activity
            android:name=".samsungm21Activity"
            android:exported="true" />
        <activity
            android:name=".oppof12Activity"
            android:exported="true" />
        <activity
            android:name=".nokiamacActivity"
            android:exported="true" />
        <activity
            android:name=".iphonexActivity"
            android:exported="true" />
        <activity
            android:name=".iphone7Activity"
            android:exported="true" />
        <activity
            android:name=".SummaryActivity"
            android:exported="true"
            android:parentActivityName=".InfoActivity"
            android:label="Cart"/>
        <activity
            android:name=".MainTharushaActivity"
            android:exported="true"
            android:parentActivityName=".home"
            android:label="Devices"/>
        <activity
            android:name=".InfoActivity"
            android:exported="true"
            android:parentActivityName=".MainTharushaActivity"
            android:label="Device Details"/>
        <activity
            android:name=".adminHome"
            android:exported="true"
            android:label="Admin Panel" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".MainHimashaActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Add Device"
            android:parentActivityName=".MainHimashaActivity" />
        <activity
            android:name=".MainHimashaActivity"
            android:label="Devices Library"
            android:parentActivityName=".home" />
        <activity
            android:name=".AdminInterfaceIt20149994Activity"
            android:exported="true"
            android:label="View All Devices"
            android:parentActivityName=".home" />
        <activity
            android:name=".UserInterfaceIt20149994Activity"
            android:exported="true"
            android:label="Sell My Devices"
            android:parentActivityName=".home" />
        <activity
            android:name=".home"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".addMyCard"
            android:exported="true"
            android:label="@string/addMyCardDetails"
            android:parentActivityName=".home" />
        <activity
            android:name=".logIn"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />



        <activity
            android:name=".register"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.OrderProvider"
            android:authorities="com.example.nightmare"
            android:exported="true" />
    </application>

</manifest>